body {
  background-color: #5f0776;
  color: white;
}

h1 {
  font-size: 64px;
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
